.order-table {

  table {
    width: 100%;
    border-bottom: 1px solid $gray;

    tr:not(:last-of-type) td {
      border-bottom: 1px solid $gray;
    }

    tr th {
      border-bottom: 1px solid $gray;
      padding-bottom: 10px;
      font-weight: 600;
      font-size: 1.125rem;
      padding-left: 20px;

      &:first-of-type {
        padding-left: 20px;
      }
      &:last-of-type {
        padding-right: 20px;
      }
    }

    tr > td:first-of-type {
      position: relative;
      padding-left: 20px;
      border-left: 1px solid $gray;
      &:before {
        content: '';
        position: absolute;
        bottom: -2px; left: 0;
        width: 20px; height: 3px;
        z-index: 1;
        background-color: #f5f5f5;
      }
    }

    tr > td:last-of-type {
      position: relative;
      padding-right: 20px;
      border-right: 1px solid $gray;
      &:before {
        content: '';
        position: absolute;
        bottom: -2px; right: 0;
        width: 20px; height: 3px;
        z-index: 1;
        background-color: #f5f5f5;
      }
    }

    tr:last-of-type > td:before {
      display: none!important;
    }

    td {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      vertical-align: top;
    }

    td{

      &.table-package {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-right: 10px;
        .table-package-type {
          display: block;
          font-weight: 400;
        }
      }
      &.table-description {
        padding-right: 10px;
      }

      &.duration {
        text-transform: uppercase;
        padding-right: 10px;
      }

      &.table-price {
        font-size: 2rem;
        font-weight: 600;
        color: $blue-dark;
        text-align: center;
        background-color: #CFD6DE;
        padding-left: 10px;
        padding-right: 10px;
      }

      &.table-delete {
        width: 40px;
        padding-left: 0;
        a {
          text-align: center;
          color: $red;
          font-size: 1.125rem;
          display: inline-block;
          line-height: 20px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            color: $red;
          }
        }
      }

      &.table-order-date {
        font-size: 1rem;
      }

      &.table-activation-status {
        font-size: 1rem;
      }

      &.table-add-to-cart {
        @include media-breakpoint-up(lg) {
          padding-left: 20px;
          width: 220px;
        }
        .btn-t2 {
          padding: 11px 15px;
        }
      }
    }
  }

  .order-table-total {
    @extend .clearfix;
    padding: 20px;
    border: 1px solid $gray;
    border-top: 0;
    font-weight: 700;
    color: $blue-dark;
    text-transform: uppercase;
    font-size: 1.5rem;
    .total-price {
      display: inline-block;
      float: right;
      font-size: 2.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    table {
      border-bottom: 1px solid $gray;

      tbody > tr:first-of-type {
        display: none;
      }

      tbody > tr:nth-of-type(2n+1) {
        background-color: $white;
      }

      tr {
        border: 1px solid $gray;
        border-width: 1px 1px 0 1px;

        td {
          border: none!important;
        }
      }

      tr > td {
        display: block;
        width: 100%;
        padding: 5px 10px 5px 150px!important;
        position: relative;
        &:before {
          display: none;
        }
        &:after {
          content: attr(data-label);
          position: absolute;
          left: 20px; top: 5px;
          font-size: 0.875rem;
          font-weight: 600;
          text-transform: capitalize;
        }
        @include media-breakpoint-only(xs) {
          padding: 5px 10px 5px 100px!important;
          &:after {
            left: 10px;
          }
        }

        &.table-price {
          text-align: left;
          font-size: 1.5rem;
        }

        &.table-delete {
          width: 100%;
          text-align: center;
          padding: 0!important;
          &:after {
            content: '';
          }
          a {
            padding: 10px 30px;
          }
        }

        &.table-add-to-cart {
          width: 100%;
          padding: 10px!important;
          &:after {
            content: '';
          }
          > a:not(:first-of-type) {
            margin: 0 0 0 6px;
            vertical-align: top;
          }
          @include media-breakpoint-only(xs) {
            > a {
              width: 100%;
              &:not(:first-of-type) {
                margin: 10px 0 0 0;
              }
            }
          }
          &:after {
          }
        }
      }

    }
  }
}